* {
	box-sizing: border-box;
}

html, body {
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*font-family: "Roboto", "Lucida Grande", Helvetica, Arial, sans-serif*/

	--href-link: rgb(201,44,4);
	--href-link-hover: firebrick;
	--text-color: rgb(20,20,20);
}

p {
	color: var(--text-color);
	font-size: 16px;
	text-align: justify;
}

h1, h2, h3, h4 {
	color: var(--text-color);
}

body {
	box-sizing: border-box;
	padding: 0;
	outline: 0;
	border: 0;
	margin:0;
}

main {
	max-width: 1000px;
	margin:auto;
	padding: 0 5px;
}

header {
	color: white;
	background: gray;
	background-image: linear-gradient(silver, gray);
	background-image: linear-gradient(gray, rgb(81,81,81));
	background-image: linear-gradient(rgb(111,111,111), rgb(41,41,41));
	text-align: right;
	padding: 36px 8px 6px 16px;
	width: 100%;
	border: 0;
	outline: 0;
	margin-bottom: 12pt; /*12pt = 16px*/
	/* New addition for border */
	/*border-bottom: 3px solid orange;*/
	background: linear-gradient(hsl(0, 0%, 33%), hsl(0,0%,8%));
}

nav {
	max-width: 1000px;
	margin: auto;
}

.site-links {
	color: white;
	padding: 12px 2px;
	font: normal 16px 'Open Sans', sans-serif;
	text-decoration: none;
	font-size : 12pt;
	height: 200%;
}

.site-links:hover {
	color:orange;
}

footer {
	clear: both;
	max-width: 1000px;
	margin:auto;
	display: flex;
	justify-content: space-between;
	margin-top: 36pt;
	padding: 0 5px;
}


.github-btn {
	/*background-image: url('images/GitHub-Mark-64px.png');
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;*/
	width: 16px;
	height: 16px;
	vertical-align: middle;
}

p a {
	color: var(--href-link);
	text-decoration: none;
}

p a:visited {
	color: var(--href-link);
	text-decoration: none;
}

p a:hover {
	color: var(--href-link-hover);
	text-decoration: underline;
}

/*   PROJECTS   */

.project-style {
	margin: 2px;
	padding: 10px 2px;
	/*background: rgb(230, 230, 230);*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	min-height: 260px;
	height:auto;
	overflow: hidden;
	border-radius: 2pt;
	/*box-shadow: lightgray 1pt 1pt 1pt 1pt;
	background: rgb(250,250,250);*/
}
	
.project-thumbnail {
	margin: 0 20px 0 0;
	/*height: 200px;*/
	width: 300px;
	border: 1px solid #000;
	flex: 0 1 auto;
	border-radius: 6pt;
}

.project-description
{
	flex: 1 1 50%;
	overflow:hidden;
	min-width: 300px;
}

.project-abstract {
	font-size: 16px;
	color: black;
	padding-top: 10px;
	padding-right: 10px;
	display: block;
	text-align: justify;
}

.project-title {
	font-size: 12pt;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: var(--href-link);
	/*padding-top: 10px;*/
	padding-right: 10px;
	display: block;
	font-weight: bold;
}

.project-description a {
	color: var(--href-link);
	text-decoration: none;
}

.project-description a:visited {
	color: var(--href-link);
	text-decoration: none;
}

.project-description a:hover {
	color: var(--href-link-hover);
	text-decoration: underline;
}

/* Projects Carousel*/

.project-carousel-container {
	max-width:1000px;
	position:relative;
	margin:auto;
}

.project-carousel-slides {
display: none;
}

.project-carousel-slides img {
	width:100%;
	height:400px;
	max-height: 70vh;
}

.project-carousel-prev, .project-carousel-next {
	cursor:pointer;
	position:absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding:16px;
	color:white;
	font-weight:bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select:none;
}

.project-carousel-next {
  right: 0;
  border-radius:3px 0 0 3px;
}

.project-carousel-prev:hover, .project-carousel-next:hover {
  background-color: rgba(0,0,0,0.8);
}

.project-carousel-text {
	color:#f2f2f2;
	font-size:16px;
	padding: 8px 12px;
	position: absolute;
	bottom:8px;
	width:100%;
	text-align:center;
	font-family: "Roboto", "Lucida Grande", Helvetica, Arial, sans-serif;
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}

/* fading animation*/
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

/*   RESUME   */

.resume-content {
	margin: auto;
	width: 900px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-family: "Roboto", "Lucida Grande", Helvetica, Arial, sans-serif;
}

.resume-type {
	float: left;
	margin: 1.5% 1.5% 0 3.5%;
	width: 30%;
	color: var(--text-color);
	font-size: 20px;
	font-size: 15pt;
	max-width:200px;
}

.resume-type::before {
	clear: both;
}

.resume-data {
	float: left;
	margin: 0 2.5%;
	margin-top: 1.5%;
	margin-left: 0;
	padding: 4px 0 0 0;
	width: 63%;
	color: var(--text-color);
	max-width:560px;
}

.resume-entry-title {
	font-weight: bold;
	margin-bottom: -14px;
}

.resume-entry-title a {
	font-weight: bold;
	margin-bottom: -14px;
	color: var(--href-link);
	text-decoration : none;
}

.resume-entry {
	text-align: justify;
}

.resume-entry span {
	text-align: justify;
	line-height: 1.8;
}

.resume-entry-title span {
	text-align:right;
	float : right;
}

/* On screens that are 992px or less, set the background color to blue */
/*@media screen and (max-width: 992px) {*/
@media screen and (max-width: 910px) {
    
  .resume-content {
	margin: auto;
	width: 100%;
	}

  .resume-type {
    float: none;
    margin: 1.5% 1.5% 0 3.5%;
	margin: 0;
	width: auto;
	max-width: none;
  }

  .resume-type::before {
	clear: both;	
  }

  .resume-data {
	float: none;
	margin-top: 0;
	margin-left: 3.5%;
	width: auto;
	max-width:none;
  }

  .resume-entry-title {
	margin-bottom: -12px;
	overflow:hidden;
  }
}

.pub-media-container {
	margin: 0;
	padding: 0;
}

.pub-media-item {
	float: left;
	list-style: none;
	margin: 2px;
}

.pub-media-item .pub-media-ref {
	background: linear-gradient(#fff, #eee);
	border: 1px solid #ccc;
	border-radius: 3px;
	display: block;
	padding: 3px;
	height:16px;
	width:16px;
	box-sizing: content-box;
}

.pub-media-item a.pub-media-ref:hover {
	border-color: #999;
}

.pub-media-item .pub-media-paper, .pub-media-bibtex, .pub-media-video, .pub-media-presentation {
	background: url("images/pub_media2.png") 0 0 no-repeat;
	color: transparent;
	display: block;
	font: 0/0 a;
	height: 16px;
	width: 16px;
}

.pub-media-paper {
	background-position: 0px 0;
}

.pub-media-item .pub-media-paper {
	background: url("images/PDF_24.png");
	background-clip: border-box;
	background-position: 0% 0%;
	background-origin: padding-box;
	background-repeat: repeat;
	background-size: 100% ;
}

.pub-media-bibtex {
	background-position: -20px 0;
	background: url("images/BibIcon.png");
	background-clip: border-box;
	background-position: 0% 0%;
	background-origin: padding-box;
	background-repeat: repeat;
	background-size: 100% ;
}

.pub-media-video {
	background-position: -40px 0;
	background-position: -20px 0;
	background: url("images/VideoIcon.png");
	background-clip: border-box;
	background-position: 0% 0%;
	background-origin: padding-box;
	background-repeat: repeat;
	background-size: 100% ;
}

.pub-media-presentation {
	background-position: -60px 0;
}
